body {
  font-family: Arial, sans-serif;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

h2 {
  font-size: 1.2em;
  color: white;
  margin-top: 5px;
}

#puntuacion {
  font-size: 1em;
  margin-bottom: 10px;
  color: white;
}

#carta {
  width: 130px;
  height: auto;
  border-radius: 15px;
  margin-bottom: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 20px;
  margin: 3px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.colorPlan:hover, .colorPlan {
  background-color: brown;
}

.colorRei:hover, .colorRei {
  background-color: rgb(132, 201, 12);
}

.colorVer, .colorVer {
  background-color: rgb(196, 38, 75);
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

#mensaje {
  font-size: em;
  color: white;
  margin: 5px;
}

/* #reiniciar,
#verQuePasa,
#plantarse {
  margin-top: 3px;
} */

#confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}

.confetti-piece {
  position: absolute;
  width: 10px;
  height: 10px;
  opacity: 0.8;
  animation: confetti-fall linear infinite;
}

@keyframes confetti-fall {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}

.oculto {
  display: none;
}
